/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

 .header{
   background-image: url('https://64.media.tumblr.com/aa2ad65e21ad1c5dc386c3c7fa172db3/tumblr_old81jgcjH1veydt5o1_1280.gif');
   background-size: contain;
   height: 200px;
   text-align: center;
   color: azure;
}

 .list-inline {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 207, 207);
}

.list-inline li {
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.link a{
  text-decoration: none;
  color: white;
}
.btn-grey{
  background-color: #A5A299;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0 220px;
}
